<template>

<div class="main-wrapper">
<!-- Header -->
<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index" class="navbar-brand logo">
							<img src="public/assets/img/logo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index" class="menu-logo">
								<img src="public/assets/img/logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul v-if="checkRoute()" class="main-nav">
							<li class="">
								<a href="index">Home</a>
							</li>
							<li class="has-submenu">
								<a href="">Doctors <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="active"><a href="doctor-dashboard">Doctor Dashboard</a></li>
									<li class="active"><a href="appointments">Appointments</a></li>
									<li class="active"><a href="schedule-timings">Schedule Timing</a></li>
									<li class="active"><a href="my-patients">Patients List</a></li>
									<li class="active"><a href="patient-profile">Patients Profile</a></li>
									<li class="active"><a href="chat-doctor">Chat</a></li>
									<li class="active"><a href="invoices">Invoices</a></li>
									<li class="active"><a href="doctor-profile-settings">Profile Settings</a></li>
									<li class="active"><a href="reviews">Reviews</a></li>
									<li class="active"><a href="doctor-register">Doctor Register</a></li>
								</ul>
							</li>		
							<li class="has-submenu ">
								<a href="">Patients <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="has-submenu">
										<a href="#">Doctors</a>
										<ul class="submenu">
											<li class=""><a href="map-grid">Map Grid</a></li>
											<li class=""><a href="map-list">Map List</a></li>
										</ul>
									</li>
									<li class="active"><a href="search">Search Doctor</a></li>
									<li class=""><a href="doctor-profile">Doctor Profile</a></li>
									<li class=""><a href="booking">Booking</a></li>
									<li class=""><a href="checkout">Checkout</a></li>
									<li class=""><a href="booking-success">Booking Success</a></li>
									<li class=""><a href="patient-dashboard">Patient Dashboard</a></li>
									<li class=""><a href="favourites">Favourites</a></li>
									<li class=""><a href="chat">Chat</a></li>
									<li class=""><a href="profile-settings">Profile Settings</a></li>
									<li class=""><a href="change-password">Change Password</a></li>
								</ul>
							</li>












							<li class="has-submenu">
								<a href="">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class=""><a href="voice-call">Voice Call</a></li>
									<li class=""><a href="video-call">Video Call</a></li>
									<li class=""><a href="search">Search Doctors</a></li>
									<li class=""><a href="calendar">Calendar</a></li>
									<li class=""><a href="components">Components</a></li>
									<li class="has-submenu ">
										<a href="invoices">Invoices</a>
										<ul class="submenu">
											<li class=""><a href="invoices">Invoices</a></li>
											<li class=""><a href="invoice-view">Invoice View</a></li>
										</ul>
									</li>
									<li class=""><a href="blank-page">Starter Page</a></li>
									<li class=""><a href="login">Login</a></li>
									<li class=""><a href="register">Register</a></li>
									<li class=""><a href="forgot-password">Forgot Password</a></li>
								</ul>
							</li>
							<li class="has-submenu">
                            <a href="">Blog <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li class=""><a href="blog-list">Blog List</a></li>
                                <li class=""><a href="blog-grid">Blog Grid</a></li>
                                <li class=""><a href="blog-details">Blog Details</a></li>
                            </ul>
                        </li>
						<li>
								<a href="#" target="_blank">Admin</a>
							</li>
						</ul>		 
					</div>		 
					<ul class="nav header-navbar-rht">
						<li class="nav-item contact-item">
							<div class="header-contact-img">
								<i class="far fa-hospital"></i>							
							</div>
							<div class="header-contact-detail">
								<p class="contact-header">Contact</p>
								<p class="contact-info-header"> +1 315 369 5943</p>
							</div>
                            <ul>
                            <li class="nav-item">
    							<router-link class="nav-link header-login" to="login">login / Signup </router-link>
							</li>
                            </ul>
						</li>						
					</ul>
				</nav>
			</header>
</div>

</template>
<script>
export default {
    data(){
        return{
            currentRoute:'',            
        }
    },
    mounted(){
        this.currentRoute = this.$router.history.current.path;
        this.checkRoute();
    },
    methods:{
        checkRoute(){
          if(this.removeSlash(this.currentRoute) == 'login' || this.removeSlash(this.currentRoute) == 'register'){
                return false;
            }
            return true;
        },
        removeSlash(string) {
            return string.substring(1);
        }
    },
    watch:{
    $route (to, from){
        this.show = false;
        this.currentRoute = to.path;
        this.checkRoute();
    }
} 
}
</script>
<style scoped>

</style>