<template>

       <!-- Page Content -->
    <div class="content account-page" style="padding: 10% 0px; min-height: 420px;">
				<div class="container-fluid">
					
					<div class="row">
						<div class="col-md-8 offset-md-2">
							
							<!-- Login Tab Content -->
							<div class="account-content">
								<div class="row align-items-center justify-content-center">
									<div class="col-md-7 col-lg-6 login-left">
										<img src="public/assets/img/login-banner.png" class="img-fluid" alt="Doccure Login">	
									</div>
									<div class="col-md-12 col-lg-6 login-right">
										<div class="login-header">
											<h3>Login <span>Doccure</span></h3>
										</div>
										<form @submit.prevent="handleSubmit">
                                            <label class="focus-label">Email</label>
											<div class="form-group">
												<input type="email" v-model="user.email" id="email" name="email" class="form-control" :class="{ 'is-invalid': submitted && $v.user.email.$error }">
                                                  <div v-if="submitted && $v.user.email.$error" class="invalid-feedback">
                                                    <span v-if="!$v.user.email.required">Email is required</span>
                                                    <span v-if="!$v.user.email.email">Email is invalid</span>
                                                </div>
                                                <div v-if="errors.has('email')" class="invalid-feedback">
                                                    <span>{{ errors.get('email') }}</span>
                                                </div>
											</div>
                                            <label class="focus-label">Password</label>
											<div class="form-group">
												<input type="password" v-model="user.password" id="password" name="password" class="form-control" :class="{ 'is-invalid': submitted && $v.user.password.$error }">
                                                 <div v-if="submitted && $v.user.password.$error" class="invalid-feedback">
                                                    <span v-if="!$v.user.password.required">Password is required</span>
                                                    <span v-if="!$v.user.password.minLength">Password must be at least 6 characters</span>
                                                </div>
                                                <div v-if="errors.has('password')" class="invalid-feedback">
                                                    <span>{{ errors.get('password') }}</span>
                                                </div>
											</div>
											<div class="text-right">
												<a class="forgot-link" href="forgot-password">Forgot Password ?</a>
											</div>
											<button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Login</button>
											<div class="text-center dont-have">Don’t have an account? <router-link to="register">Register</router-link></div>
										</form>
									</div>
								</div>
							</div>
							<!-- /Login Tab Content -->
								
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
              
</template>
<script>

import { mapActions } from "vuex";
import Errors from "../Helpers/errors";
import { required, email, minLength } from "vuelidate/lib/validators";

export default {
    data(){
        return{
            errors : new Errors(),
            user:{
                email : "",
                password : "",
            },
            submitted: false
        }
    },
    validations: {
        user: {
            email: { required, email },
            password: { required, minLength: minLength(6) },
        }
    },    
    methods: {
        ...mapActions(["LogIn"]),
        async handleSubmit(e) {
            this.submitted = true;

            // stop here if form is invalid
            this.$v.$touch();
            if (this.$v.$invalid) {
                return;
            }

        	try {
				await this.LogIn(this.user);
				this.$router.push("/dashboard");
				this.submitted = true;
			} catch (error) {
				this.onFail(error.response.data);
				this.submitted = false;
			}
        },
        onFail(errors) {
			this.errors.record(errors);
		}
    }
}
</script>
<style scoped>
    .form-group{
        margin-bottom:5px;
    }
    label{
        margin-bottom:0px;
    }
    .invalid-feedback {
		display: block;
	}
</style>