<template>    
	<div class="bg-white">
		<header-component></header-component>
		<router-view></router-view>
		<footer-component></footer-component>
	</div>
</template>

<script>
    export default {
        data(){
            return{

            }
        },
        mounted() {
        }
    }
</script>
