<template>
<!-- Page Content -->
<div class="content account-page" style="padding: 50px 0;"> 
	<div class="container-fluid">
		
		<div class="row">
			<div class="col-md-8 offset-md-2 mb-5">
					
				<!-- Register Content -->
				<div class="account-content mb-5">
					<div class="row align-items-center justify-content-center">
						<div class="col-md-7 col-lg-5 login-left">
							<img src="public/assets/img/login-banner.png" class="img-fluid" alt="Doccure Register">	
						</div>
						<div class="col-md-12 col-lg-7 login-right">
							<div class="login-header">
								<h3>Patient Register</h3>
							</div>
							
							<!-- Register Form -->
							<form @submit.prevent="handleSubmit">
								<div class="row">
									<div class="col-md-6">
										<label>First Name</label>
										<div class="form-group">
											<input type="text" v-model="user.first_name" id="first_name" name="first_name" class="form-control" :class="{ 'is-invalid': submitted && $v.user.first_name.$error }">
											<div v-if="submitted && $v.user.first_name.$error" class="invalid-feedback">
												<span v-if="!$v.user.first_name.required">First Name is required</span>
											</div>
											<div v-if="errors.has('first_name')" class="invalid-feedback">
												<span>{{ errors.get('first_name') }}</span>
											</div>
										</div>	
									</div>		
									<div class="col-md-6">
										<label>Last Name</label>
										<div class="form-group">
											<input type="text" v-model="user.last_name" id="last_name" name="last_name" class="form-control" :class="{ 'is-invalid': submitted && $v.user.last_name.$error }">
											<div v-if="submitted && $v.user.last_name.$error" class="invalid-feedback">
												<span v-if="!$v.user.last_name.required">Last Name is required</span>
											</div>
											<div v-if="errors.has('last_name')" class="invalid-feedback">
												<span>{{ errors.get('last_name') }}</span>
											</div>
										</div>	
									</div>		
								</div>	

								<label>CNIC</label>
								<div class="form-group">
									<input type="number" v-model="user.cnic" id="cnic" name="cnic" class="form-control" :class="{ 'is-invalid': submitted && $v.user.cnic.$error }">
									<div v-if="submitted && $v.user.cnic.$error" class="invalid-feedback">
										<span v-if="!$v.user.cnic.required">CNIC is Required</span>
									</div>
									<div v-if="errors.has('cnic')" class="invalid-feedback">
										<span>{{ errors.get('cnic') }}</span>
									</div>
								</div>
								<label>Phone Number</label>
								<div class="form-group">
									<input type="text" v-model="user.phone" id="phone" name="phone" class="form-control floating" :class="{ 'is-invalid': submitted && $v.user.phone.$error }">
									<div v-if="submitted && $v.user.phone.$error" class="invalid-feedback">
										<span v-if="!$v.user.phone.required">Phone is required</span>
									</div>
									<div v-if="errors.has('phone')" class="invalid-feedback">
										<span>{{ errors.get('phone') }}</span>
									</div>
								</div>
								<label>Email</label>
								<div class="form-group">
									<input type="text" v-model="user.email" id="email" name="email" class="form-control floating" :class="{ 'is-invalid': submitted && $v.user.email.$error }">
									<div v-if="submitted && $v.user.email.$error" class="invalid-feedback">
										<span v-if="!$v.user.email.email">Email is invalid</span>
										<span v-if="!$v.user.email.required">Email is required</span>
									</div>
									<div v-if="errors.has('email')" class="invalid-feedback">
										<span>{{ errors.get('email') }}</span>
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										<label>Refferal</label>
										<div class="form-group">
											<input type="text" v-model="user.referal" id="referal" name="referal" class="form-control floating" :class="{ 'is-invalid': submitted && $v.user.referal.$error }">
											<div v-if="submitted && $v.user.referal.$error" class="invalid-feedback">
												<span v-if="!$v.user.referal.required">Referal is required</span>
											</div>
											<div v-if="errors.has('referal')" class="invalid-feedback">
												<span>{{ errors.get('referal') }}</span>
											</div>
										</div>
									</div>

									<div class="col-md-6">
										<label>Gender</label>
										<div class="form-group">
											<input type="text" v-model="user.gender" id="gender" name="gender" class="form-control floating" :class="{ 'is-invalid': submitted && $v.user.gender.$error }">
											<div v-if="submitted && $v.user.gender.$error" class="invalid-feedback">
												<span v-if="!$v.user.gender.required">Gender is required</span>
											</div>
											<div v-if="errors.has('gender')" class="invalid-feedback">
												<span>{{ errors.get('gender') }}</span>
											</div>
										</div>
									</div>

								</div>

								<div class="row">
									<div class="col-md-6">
										<label>Password</label>
										<div class="form-group">
											<input type="password" v-model="user.password" id="password" name="password" class="form-control floating" :class="{ 'is-invalid': submitted && $v.user.password.$error }">
											<div v-if="submitted && $v.user.password.$error" class="invalid-feedback">
												<span v-if="!$v.user.password.required">Password is required</span>
											</div>
											<div v-if="errors.has('password')" class="invalid-feedback">
												<span>{{ errors.get('password') }}</span>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<label>Confirm Password</label>
										<div class="form-group">
											<input type="password" v-model="user.confirmPassword" id="confrimPassword" name="confrimPassword" class="form-control floating" :class="{ 'is-invalid': submitted && $v.user.confirmPassword.$error }">
											<div v-if="submitted && $v.user.confirmPassword.$error" class="invalid-feedback">
												<span v-if="!$v.user.confirmPassword.required">Password is required</span>
												<span v-else-if="!$v.user.confirmPassword.sameAsPassword">Passwords must match</span>
											</div>
										</div>
									</div>
								</div>

								<div class="text-right">
									<router-link class="forgot-link" to="login">Already have an account?</router-link>
								</div>
								<button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Signup</button>

							</form>
							<!-- /Register Form -->
							
						</div>
					</div>
				</div>
				<!-- /Register Content -->
					
			</div>
		</div>

	</div>

</div>		
		
</template>
<script>

import { mapActions } from "vuex";
import Errors from "../Helpers/errors";
import { required, email, minLength , sameAs} from "vuelidate/lib/validators";

export default {
	name:"Register",
	components:{},
    data(){
		return{
			errors : new Errors(),
			user:{
				first_name:'',
				last_name:'',
				gender:'',
				cnic:'',
				phone:'',
				email : '',
				referal : '',
				password : '',
				confirmPassword : '',
			},
			submitted : false,

		}
	},
	validations: {
		user: {
			first_name : {required},
			last_name : {required},
			gender : {required},			
			cnic : {required},
			phone : {required},
			referal : {required},
			email: { required, email },
			password: { required, minLength: minLength(6) },
			confirmPassword: { required, sameAsPassword:sameAs('password') },
		}
    },    
	 methods: {
		...mapActions(["Register"]),
        async handleSubmit(e) {
            this.submitted = true;

            // stop here if form is invalid
            this.$v.$touch();
            if (this.$v.$invalid) {
                return;
            }

			try {
				await this.Register(this.user);
				this.$router.push("/dashboard");
				this.submitted = true;
			} catch (error) {
				if(error.reponse != undefined){
                    this.onFail(error.response.data);
                    this.submitted = false;
                }else if(error.request){
                    this.onFail(JSON.parse(error.request.response));
                    this.submitted = false;
                }

			}

        },
		onFail(errors) {
			this.errors.record(errors);
		}
    }
}
</script>
<style scoped>
   .form-group{
        margin-bottom:5px;
    }
    label{
        margin-bottom:0px;
    }
	.form-control {
		border-color: #dcdcdc;
		color: #333;
		font-size: 15px;
		min-height: 37px;
		padding: 6px 15px;
	}
	.invalid-feedback {
		display: block;
	}
</style>