<template>
<div>
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Edit MyList</h5>
                <button type="button" @click="close()" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              



         <form ref="addListForm" @submit.prevent="handleSubmit">
        <!-- Basic Information -->


                  <div class="row form-row">

                      <div class="col-md-6">
                          <div class="form-group">
                              <label>First Name <span class="text-danger">*</span></label>
                              <input type="text" v-model="user.first_name" id="first_name" name="first_name" class="form-control" :class="{ 'is-invalid': submitted && $v.user.first_name.$error }">
                              <div v-if="submitted && $v.user.first_name.$error" class="invalid-feedback">
                                  <span v-if="!$v.user.first_name.required">First Name is required</span>
                              </div>
                              <div v-if="errors.has('first_name')" class="invalid-feedback">
                                  <span>{{ errors.get('first_name') }}</span>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-6">
                          <div class="form-group">
                              <label>Last Name <span class="text-danger">*</span></label>
                              <input type="text" v-model="user.last_name" id="last_name" name="last_name" class="form-control" :class="{ 'is-invalid': submitted && $v.user.last_name.$error }">
                              <div v-if="submitted && $v.user.last_name.$error" class="invalid-feedback">
                                  <span v-if="!$v.user.last_name.required">Last Name is required</span>
                              </div>
                              <div v-if="errors.has('last_name')" class="invalid-feedback">
                                  <span>{{ errors.get('last_name') }}</span>
                              </div>

                          </div>
                      </div>       
                      <div class="col-md-6">
                          <div class="form-group">
                              <label>Relationship Type <span class="text-danger">*</span></label>
                              <select name="relationship_type" v-model="user.relationship_type" id="relationship_type" class="form-control">
                                  <option value="hot">Hot</option>
                                  <option value="warm">Warm</option>
                                  <option value="cold">Cold</option>
                              </select>
                              <div v-if="submitted && $v.user.relationship_type.$error" class="invalid-feedback">
                                  <span v-if="!$v.user.relationship_type.required">Relationship Type is required</span>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-6">
                          <div class="form-group">
                                  <label>Mobile No</label>
                                  <input type="text" v-model="user.phone_no" id="phone_no" name="phone_no" class="form-control" :class="{ 'is-invalid': submitted && $v.user.phone_no.$error }">
                                  <div v-if="submitted && $v.user.phone_no.$error" class="invalid-feedback">
                                    <span v-if="!$v.user.phone_no.required">Phone is required</span>
                                  </div>
                                  <div v-if="errors.has('phone_no')" class="invalid-feedback">
                                    <span>{{ errors.get('phone_no') }}</span>
                                  </div>
                          </div>
                      </div>


                      <div class="col-md-6">
                          <div class="form-group">
                              <label>Email </label>
                              <input type="email" v-model="user.email_id" id="email_id" name="email_id" class="form-control" :class="{ 'is-invalid': submitted && $v.user.email_id.$error }">
                              <div v-if="submitted && $v.user.email_id.$error" class="invalid-feedback">
                                  <span v-if="!$v.user.email_id.required">Email is required</span>
                                  <span v-if="!$v.user.email_id.email">Email is invalid</span>
                              </div>
                              <div v-if="errors.has('email_id')" class="invalid-feedback">
                                  <span>{{ errors.get('email_id') }}</span>
                              </div>
                          </div>
                      </div>
           
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Designation </label>
                                    <input type="text" v-model="user.designation" id="designation" name="designation" class="form-control" :class="{ 'is-invalid': submitted && $v.user.designation.$error }">
                                    <div v-if="submitted && $v.user.designation.$error" class="invalid-feedback">
                                      <span v-if="!$v.user.designation.required">Designation is Required</span>
                                    </div>
                                    <div v-if="errors.has('designation')" class="invalid-feedback">
                                      <span>{{ errors.get('designation') }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nationality </label>
                                    <input type="text" v-model="user.nationality" id="nationality" name="nationality" class="form-control" :class="{ 'is-invalid': submitted && $v.user.nationality.$error }">
                                    <div v-if="submitted && $v.user.nationality.$error" class="invalid-feedback">
                                      <span v-if="!$v.user.nationality.required">Nationality is Required</span>
                                    </div>
                                    <div v-if="errors.has('nationality')" class="invalid-feedback">
                                      <span>{{ errors.get('nationality') }}</span>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-6">
                                <div class="form-group">
                                    <label>City </label>
                                    <input type="text" v-model="user.city" id="city" name="city" class="form-control" :class="{ 'is-invalid': submitted && $v.user.city.$error }">
                                    <div v-if="submitted && $v.user.city.$error" class="invalid-feedback">
                                      <span v-if="!$v.user.city.required">City is Required</span>
                                    </div>
                                    <div v-if="errors.has('city')" class="invalid-feedback">
                                      <span>{{ errors.get('city') }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Current City </label>
                                    <input type="text" v-model="user.current_city" id="current_city" name="current_city" class="form-control" :class="{ 'is-invalid': submitted && $v.user.current_city.$error }">
                                    <div v-if="submitted && $v.user.current_city.$error" class="invalid-feedback">
                                      <span v-if="!$v.user.current_city.required">Current City is Required</span>
                                    </div>
                                    <div v-if="errors.has('current_city')" class="invalid-feedback">
                                      <span>{{ errors.get('current_city') }}</span>
                                    </div>
                                </div>
                            </div>
                            

                     <div class="col-md-6">
                          <div class="form-group">
                              <label>Info</label>
                              <select name="info" v-model="user.info" id="info" class="form-control">
                                  <option value="yes">Yes</option>
                                  <option value="no">No</option>
                              </select>
                              <div v-if="submitted && $v.user.info.$error" class="invalid-feedback">
                                  <span v-if="!$v.user.info.required">Info is required</span>
                              </div>
                          </div>
                      </div>

                        <div class="col-md-6">
                          <div class="form-group">
                              <label>Response</label>
                              <select name="response" v-model="user.response" id="response" class="form-control">
                                  <option value="A">A</option>
                                  <option value="B">B</option>
                                  <option value="C">C</option>
                              </select>
                              <div v-if="submitted && $v.user.response.$error" class="invalid-feedback">
                                  <span v-if="!$v.user.response.required">Response is required</span>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-6">
                          <div class="form-group">
                              <label>Qualifier</label>
                              <select name="qualifier" v-model="user.qualifier" id="qualifier" class="form-control">
                                  <option value="pending">Pending</option>
                                  <option value="scheduled">Scheduled</option>
                                  <option value="completed">Completed</option>
                                  <option value="not interested">Not Interested</option>
                              </select>
                              <div v-if="submitted && $v.user.qualifier.$error" class="invalid-feedback">
                                  <span v-if="!$v.user.qualifier.required">Qualifier is required</span>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-6">
                          <div class="form-group">
                              <label>VB</label>
                              <select name="vb" v-model="user.vb" id="vb" class="form-control">
                                  <option value="pending">Pending</option>
                                  <option value="scheduled">Scheduled</option>
                                  <option value="completed">Completed</option>
                                  <option value="not interested">Not Interested</option>
                              </select>
                              <div v-if="submitted && $v.user.vb.$error" class="invalid-feedback">
                                  <span v-if="!$v.user.vb.required">VB is required</span>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-6">
                          <div class="form-group">
                              <label>Closed</label>
                              <select name="closed" v-model="user.closed" id="closed" class="form-control">
                                  <option value="yes">Yes</option>
                                  <option value="no">No</option>
                              </select>
                              <div v-if="submitted && $v.user.closed.$error" class="invalid-feedback">
                                  <span v-if="!$v.user.closed.required">Closed is required</span>
                              </div>
                          </div>
                      </div>  

                    </div>
                <!-- /Basic Information -->

          

            <!-- <div class="submit-section submit-btn-bottom">
                <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
            </div> -->

            <div style="width:100%" class="mt-5">
                <hr>
                <button type="submit" class="btn btn-primary float-right">Save changes</button>
                <button type="button" class="btn btn-secondary float-right mr-1" @click="close()">Close</button>
            </div>


        </form>




                
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>    
</template>
<script>

import { mapActions } from "vuex";
import Errors from "../../../Helpers/errors";
import { required, email , minLength} from "vuelidate/lib/validators";

export default {
    props:['list'],
   data(){
        return{
            errors : new Errors(),
            user:{
                id:null,
                first_name : '',
                last_name : '',
                relation_type : '',
                phone_no : '',
                email_id : '',
                designation : '',
                nationality : '',
                city : '',
                current_city : '',
                info : '',
                qualifier : '',
                vb : '',
                closed : '',
                response : '',
                created_at : '',
            },
            submitted:false,
        }
    },
    validations: {
      user: {
        first_name : {required},
        last_name : {required},
        relationship_type : {required},
        phone_no : {},			
        email_id : {},
        designation : {},
        nationality: { },
        city: { },
        current_city: {  },
        info: {  },
        qualifier: {  },
        vb: { },
        relation : { },
        closed: {  },
        response: {  },
        created_at: { },
      }
    },    
    created(){
        this.user = this.list;
    },
    methods:{
        ...mapActions(["UpdateList"]),
        async handleSubmit(e) {
            this.submitted = true;
            this.$v.user.$touch();
            console.log(this.$v);

            if (this.$v.user.$invalid) {
                return;
            }
            try {
                await this.UpdateList(this.user);
                // this.$router.push("/dashboard");
                this.submitted = true;
                this.$parent.refreshView('edit');
                this.close();
            }catch (error) {
              if(error.reponse != undefined){
                  this.onFail(error.response.data);
                  this.submitted = false;
              }else if(error.request){
                  this.onFail(JSON.parse(error.request.response));
                  this.submitted = false;
              }
            }
        },
        close:function(){
            this.$nextTick(() => { 
                this.$v.user.$reset();
            });
            this.$parent.closeEdit();
        },
        onFail(errors) {
            this.errors.record(errors);
    		},
        scrollToTop() {
            window.scrollTo({top: 0, behavior: 'smooth'});
        },    
        save(){
            // this.$refs.addListForm.submit();
            console.log(this.$refs.addListForm);
        }
    },

}
</script>
<style scoped>
.modal-mask {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
}
.modal-dialog {
    position: fixed;
    right:0;
    width: 80%;
    margin: .5rem;
    pointer-events: none;
    max-height:100%;
}


  .form-group{
        margin-bottom:5px;
  }
  label{
        margin-bottom:0px;
  }
	.form-control {
		border-color: #dcdcdc;
		color: #333;
		font-size: 15px;
		min-height: 40px;
		padding: 6px 15px;
	}
	.invalid-feedback {
		display: block;
	}

</style>