<template>
<div>
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add MyList</h5>
                <button type="button" @click="close()" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              

                <form ref="addListForm" @submit.prevent="importListFunction">

                    <div class="row form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Import Excel File <span class="text-danger">*</span></label>
                                <input type="file" @change="onChangeImage" id="file" name="file" class="form-control" required>
                                <div v-if="errors.has('file')" class="invalid-feedback">
                                    <span>{{ errors.get('file') }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="width:100%" class="mt-5">
                        <hr>
                        <button type="submit" class="btn btn-primary float-right">Import File</button>
                        <button type="button" class="btn btn-secondary float-right mr-1" @click="close()">Close</button>
                    </div>

                </form>

                
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>    
</template>
<script>

import { mapActions } from "vuex";
import Errors from "../../../Helpers/errors";
import { required, email , minLength} from "vuelidate/lib/validators";

export default {
   data(){
        return{
            errors : new Errors(),
            submitted:false,
            file:null,
        }
    },  
     methods:{
        ...mapActions(["ImportList"]),
        async importListFunction(e) {
            this.submitted = true;

            let formData = new FormData()
            formData.append('file', this.file);

            try {
                await this.ImportList(formData);
                // this.$router.push("/dashboard");
                this.submitted = true;
                this.$parent.refreshView('add');
                this.close();
            }catch (error) {
              if(error.reponse != undefined){
                  this.onFail(error.response.data);
                  this.submitted = false;
              }else if(error.request){
                  this.onFail(JSON.parse(error.request.response));
                  this.submitted = false;
              }
            }
        },
        onChangeImage(e) {
            this.file = e.target.files[0];
        },
        onFail(errors) {
            this.errors.record(errors);
        },
        close:function(){
            this.$parent.closeImport();
        },
    },

}
</script>
<style scoped>
.modal-mask {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
}
.modal-dialog {
    position: fixed;
    right:0;
    width: 80%;
    margin: .5rem;
    pointer-events: none;
    max-height:100%;
}


  .form-group{
        margin-bottom:5px;
  }
  label{
        margin-bottom:0px;
  }
	.form-control {
		border-color: #dcdcdc;
		color: #333;
		font-size: 15px;
		min-height: 40px;
		padding: 6px 15px;
	}
	.invalid-feedback {
		display: block;
	}

</style>