<template>
    <div class="card card-table">
        <div class="card-body">

        <div v-if="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

            <AddList v-if="showModal"></AddList> 
            <EditList v-if="showEdit" :list=list></EditList>
            <ImportList v-if="showImport"></ImportList>
            <Schedule v-if="showSchedule" :list=list></Schedule>
            <button class="float-right mt-4 mr-4 btn btn-primary" @click="showImport = true">Import</button>
            <button class="float-right mt-4 mr-1 btn btn-primary" @click="showModal = true">Add MyList</button>
            <v-server-table ref="listTable"
                    :columns="columns"
                    :options="options">

            <div slot="action" slot-scope="{ row }">
                <a target="_blank" @click="editList(row.id)" class="btn btn-sm bg-info-light">
                    <i class="far fa-edit"></i> Edit
                </a>
                <a target="_blank" v-if="row.info == 'yes'" @click="schedule(row.id)" class="btn btn-sm bg-info-light">
                    <i class="far fa-edit"></i> Schedule
                </a>
            </div>

            </v-server-table>
        
            <!-- Invoice Table -->
            <!-- <div class="table-responsive">
                <table class="table table-hover table-center mb-0">
                    <thead>
                        <tr>
                            <th>Invoice No</th>
                            <th>Patient</th>
                            <th>Amount</th>
                            <th>Paid On</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="invoice-view">#INV-0010</a>
                            </td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="patient-profile" class="avatar avatar-sm mr-2">
                                        <img class="avatar-img rounded-circle" src="assets/img/patients/patient.jpg" alt="User Image">
                                    </a>
                                    <a href="patient-profile">Richard Wilson <span>#PT0016</span></a>
                                </h2>
                            </td>
                            <td>$450</td>
                            <td>14 Nov 2019</td>
                            <td class="text-right">
                                <div class="table-action">
                                    <a href="invoice-view" class="btn btn-sm bg-info-light">
                                        <i class="far fa-eye"></i> View
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                        <i class="fas fa-print"></i> Print
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="invoice-view">#INV-0009</a>
                            </td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="patient-profile" class="avatar avatar-sm mr-2">
                                        <img class="avatar-img rounded-circle" src="assets/img/patients/patient1.jpg" alt="User Image">
                                    </a>
                                    <a href="patient-profile">Charlene Reed <span>#PT0001</span></a>
                                </h2>
                            </td>
                            <td>$200</td>
                            <td>13 Nov 2019</td>
                            <td class="text-right">
                                <div class="table-action">
                                    <a href="invoice-view" class="btn btn-sm bg-info-light">
                                        <i class="far fa-eye"></i> View
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                        <i class="fas fa-print"></i> Print
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="invoice-view">#INV-0008</a>
                            </td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="patient-profile" class="avatar avatar-sm mr-2">
                                        <img class="avatar-img rounded-circle" src="assets/img/patients/patient2.jpg" alt="User Image">
                                    </a>
                                    <a href="patient-profile">Travis Trimble <span>#PT0002</span></a>
                                </h2>
                            </td>
                            <td>$100</td>
                            <td>12 Nov 2019</td>
                            <td class="text-right">
                                <div class="table-action">
                                    <a href="invoice-view" class="btn btn-sm bg-info-light">
                                        <i class="far fa-eye"></i> View
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                        <i class="fas fa-print"></i> Print
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="invoice-view">#INV-0007</a>
                            </td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="patient-profile" class="avatar avatar-sm mr-2">
                                        <img class="avatar-img rounded-circle" src="assets/img/patients/patient3.jpg" alt="User Image">
                                    </a>
                                    <a href="patient-profile">Carl Kelly <span>#PT0003</span></a>
                                </h2>
                            </td>
                            <td>$350</td>
                            <td>11 Nov 2019</td>
                            <td class="text-right">
                                <div class="table-action">
                                    <a href="invoice-view" class="btn btn-sm bg-info-light">
                                        <i class="far fa-eye"></i> View
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                        <i class="fas fa-print"></i> Print
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="invoice-view">#INV-0006</a>
                            </td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="patient-profile" class="avatar avatar-sm mr-2">
                                        <img class="avatar-img rounded-circle" src="assets/img/patients/patient4.jpg" alt="User Image">
                                    </a>
                                    <a href="patient-profile">Michelle Fairfax <span>#PT0004</span></a>
                                </h2>
                            </td>
                            <td>$275</td>
                            <td>10 Nov 2019</td>
                            <td class="text-right">
                                <div class="table-action">
                                    <a href="invoice-view" class="btn btn-sm bg-info-light">
                                        <i class="far fa-eye"></i> View
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                        <i class="fas fa-print"></i> Print
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="invoice-view">#INV-0005</a>
                            </td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="patient-profile" class="avatar avatar-sm mr-2">
                                        <img class="avatar-img rounded-circle" src="assets/img/patients/patient5.jpg" alt="User Image">
                                    </a>
                                    <a href="patient-profile">Gina Moore <span>#PT0005</span></a>
                                </h2>
                            </td>
                            <td>$600</td>
                            <td>9 Nov 2019</td>
                            <td class="text-right">
                                <div class="table-action">
                                    <a href="invoice-view" class="btn btn-sm bg-info-light">
                                        <i class="far fa-eye"></i> View
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                        <i class="fas fa-print"></i> Print
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="invoice-view">#INV-0004</a>
                            </td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="patient-profile" class="avatar avatar-sm mr-2">
                                        <img class="avatar-img rounded-circle" src="assets/img/patients/patient6.jpg" alt="User Image">
                                    </a>
                                    <a href="patient-profile">Elsie Gilley <span>#PT0006</span></a>
                                </h2>
                            </td>
                            <td>$50</td>
                            <td>8 Nov 2019</td>
                            <td class="text-right">
                                <div class="table-action">
                                    <a href="invoice-view" class="btn btn-sm bg-info-light">
                                        <i class="far fa-eye"></i> View
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                        <i class="fas fa-print"></i> Print
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="invoice-view">#INV-0003</a>
                            </td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="patient-profile" class="avatar avatar-sm mr-2">
                                        <img class="avatar-img rounded-circle" src="assets/img/patients/patient7.jpg" alt="User Image">
                                    </a>
                                    <a href="patient-profile">Joan Gardner <span>#PT0007</span></a>
                                </h2>
                            </td>
                            <td>$400</td>
                            <td>7 Nov 2019</td>
                            <td class="text-right">
                                <div class="table-action">
                                    <a href="invoice-view" class="btn btn-sm bg-info-light">
                                        <i class="far fa-eye"></i> View
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                        <i class="fas fa-print"></i> Print
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="invoice-view">#INV-0002</a>
                            </td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="patient-profile" class="avatar avatar-sm mr-2">
                                        <img class="avatar-img rounded-circle" src="assets/img/patients/patient8.jpg" alt="User Image">
                                    </a>
                                    <a href="patient-profile">Daniel Griffing <span>#PT0008</span></a>
                                </h2>
                            </td>
                            <td>$550</td>
                            <td>6 Nov 2019</td>
                            <td class="text-right">
                                <div class="table-action">
                                    <a href="invoice-view" class="btn btn-sm bg-info-light">
                                        <i class="far fa-eye"></i> View
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                        <i class="fas fa-print"></i> Print
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="invoice-view">#INV-0001</a>
                            </td>
                            <td>
                                <h2 class="table-avatar">
                                    <a href="patient-profile" class="avatar avatar-sm mr-2">
                                        <img class="avatar-img rounded-circle" src="assets/img/patients/patient9.jpg" alt="User Image">
                                    </a>
                                    <a href="patient-profile">Walter Roberson <span>#PT0009</span></a>
                                </h2>
                            </td>
                            <td>$100</td>
                            <td>5 Nov 2019</td>
                            <td class="text-right">
                                <div class="table-action">
                                    <a href="invoice-view" class="btn btn-sm bg-info-light">
                                        <i class="far fa-eye"></i> View
                                    </a>
                                    <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                        <i class="fas fa-print"></i> Print
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
            <!-- /Invoice Table -->
            
        </div>
    </div>    
</template>
<script>
import axios from 'axios';
import { mapActions } from "vuex";
import AddList from './AddListModel.vue';
import EditList from './EditListModel.vue';
import Schedule from './Schedule.vue';
import ImportList from './ImportList.vue';

export default {
    	name:"MyList",
        components:{
            AddList,
            EditList,
            ImportList,
            Schedule
        },
       data() {
            return {
                alert:false,
                showEdit : false,
                showImport : false,
                showSchedule : false,
                list : null,
                allLists : null,
                showModal : false,
                columns: ['sr_no','first_name', 'last_name' , 'relationship_type' , 'info' , 'qualifier' , 'vb' , 'closed', 'action'],
                options: {
                    headings: {
                        sr_no: 'Sr',
                        first_name: 'First Name',
                        last_name: 'Last Name',
                        relationship_type: 'Relationship',
                        info: 'Info',
                        qualifier: 'Qualifier',
                        vb: 'VB',                                                                        
                        closed: 'Closed',                                                                        
                        action: 'Action',                                                                                                
                    },
                    perPage: 10,
                    perPageValues: [5,10,20,25,50,100],
                    sortable: ['first_name', 'last_name'],
                    filterable: ['first_name'],
                    requestFunction: function (data) {
                        let self = this;
                        return axios.get('http://localhost/doc/api/lists', { params: data })
                        .catch(function (e) {
                            self.dispatch('error', e);
                        }.bind(this));
                    },
                    responseAdapter: function(resp) {
                        return {
                            data: resp.data.data,
                            count: resp.data.total,
                        }
                    }
                }
            }
        },
        methods:{
              ...mapActions(["GetSingleList"]),
            close:function(){
                this.showModal = false;
            },
            closeEdit:function(){
                this.showEdit = false;
            },
            closeImport:function(){
                this.showImport = false;
            },
            closeSchedule:function(){
                this.showSchedule = false;
            },
            refreshView:function(val){
                if(val == 'add'){
                    this.alert = true;
                    this.msg = "The List Added Successfully";
                }
                if(val == 'edit'){
                    this.alert = true;
                    this.msg = "The List Updated Successfully";
                }
                this.$refs.listTable.refresh()
                setTimeout(() => this.alert = false, 2000)
            },
            async editList(id){
                try{
                    const resp = await this.GetSingleList(id);
                    this.list = resp.myList;
                    console.log(this.list);                    
                    this.showEdit = true;
                }catch(error){
                    console.log(error);
                }
            },
            async schedule(id){
                try{
                    const resp = await this.GetSingleList(id);
                    this.list = resp.myList;
                    this.showSchedule = true;
                }catch(error){
                    console.log(error);
                }
            }
        }

}
</script>
<style scoped>
    .VuePagination {
        text-align: center;
    }
 
    .vue-title {
        text-align: center;
        margin-bottom: 10px;
    }
 
    .vue-pagination-ad {
        text-align: center;
    }
 
    .glyphicon.glyphicon-eye-open {
        width: 16px;
        display: block;
        margin: 0 auto;
    }
 
    th:nth-child(3) {
        text-align: center;
    }
 
    .VueTables__child-row-toggler {
        width: 16px;
        height: 16px;
        line-height: 16px;
        display: block;
        margin: auto;
        text-align: center;
    }
 
    .VueTables {
        margin-top:20px;
    }
    .VueTables__child-row-toggler--closed::before {
        content: "+";
    }
 
    .VueTables__limit-field{
        margin-top:30px;
    }
    .VueTables__child-row-toggler--open::before {
        content: "-";
    }
 
    .VuePagination nav{
        background-color: transparent !important;
        color:black;
        box-shadow: none;
        text-align: right;
        padding:0px;
    }
    .VuePagination nav ul{
        float:right;
        margin:0px;
    }
    .VuePagination nav p{
        text-align: right;
        padding:0px;
    }
  
</style>