<template>
<div>
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Schedule</h5>
                <button type="button" @click="close()" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              



         <form ref="addListForm" @submit.prevent="handleSubmit">
        <!-- Basic Information -->


                  <div class="row form-row">
                      
                      <div class="col-md-12">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="row">
                                      <div class="col-md-4 text-left font-weight-bolder">First Name</div>
                                      <div class="col-md-8">{{user.first_name}}</div>                                      
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="row">
                                      <div class="col-md-4 text-left font-weight-bolder pl-0">Last Name</div>
                                      <div class="col-md-8">{{ user.last_name }}</div>                                      
                                  </div>
                              </div>

                              <div class="col-md-6">
                                  <div class="row">
                                      <div class="col-md-4 text-left font-weight-bolder">Mobile</div>
                                      <div class="col-md-8">{{ user.phone_no }}</div>                                      
                                  </div>
                              </div>

                              <div class="col-md-6">
                                  <div class="row">
                                      <div class="col-md-4 text-left font-weight-bolder pl-0">Email</div>
                                      <div class="col-md-8">{{user.email_id}}</div>                                      
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="row">
                                      <div class="col-md-4 text-left font-weight-bolder">Qualifier</div>
                                      <div class="col-md-8">{{ user.qualifier }}</div>                                      
                                  </div>
                              </div>


                              <div class="col-md-6">
                                  <div class="row">
                                      <div class="col-md-4 text-left font-weight-bolder pl-0">VB</div>
                                      <div class="col-md-8">{{user.vb}}</div>                                      
                                  </div>
                              </div>


                              <div class="col-md-6">
                                  <div class="row">
                                      <div class="col-md-4 text-left font-weight-bolder">Country</div>
                                      <div class="col-md-8">{{ user.country }}</div>                                      
                                  </div>
                              </div>


                              <div class="col-md-6">
                                  <div class="row">
                                      <div class="col-md-4 text-left font-weight-bolder pl-0">City</div>
                                      <div class="col-md-8">{{user.city}}</div>                                      
                                  </div>
                              </div>

                          </div>


                      </div>

                        <div class="col-md-12 mt-4 mb-2">
                            <hr>
                            <h4>Appointment</h4>
                            <hr>    
                        </div>

                      <div class="col-md-6">
                          <div class="form-group">
                              <label>Time <span class="text-danger">*</span></label>
                              <select name="relationship_type" v-model="appointment.time" id="time" class="form-control">
                                  <option value="12 AM">12 AM</option>
                                  <option value="01 AM">01 AM</option>
                                  <option value="02 AM">02 AM</option>
                                  <option value="03 AM">03 AM</option>
                                  <option value="04 AM">04 AM</option>
                                  <option value="05 AM">05 AM</option>
                                  <option value="06 AM">06 AM</option>
                                  <option value="07 AM">07 AM</option>
                                  <option value="08 AM">08 AM</option>
                                  <option value="09 AM">09 AM</option>
                                  <option value="10 AM">10 AM</option>
                                  <option value="11 AM">11 AM</option>
                                  <option value="12 PM">12 PM</option>
                                  <option value="01 PM">01 PM</option>
                                  <option value="02 PM">02 PM</option>
                                  <option value="03 PM">03 PM</option>
                                  <option value="04 PM">04 PM</option>
                                  <option value="05 PM">05 PM</option>
                                  <option value="06 PM">06 PM</option>
                                  <option value="07 PM">07 PM</option>
                                  <option value="08 PM">08 PM</option>
                                  <option value="09 PM">09 PM</option>
                                  <option value="10 PM">10 PM</option>
                                  <option value="11 PM">11 PM</option>
                              </select>
                              <div v-if="submitted && $v.appointment.time.$error" class="invalid-feedback">
                                  <span v-if="!$v.appointment.time.required">Time is required</span>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-6">
                          <div class="form-group">
                                  <label>Date</label>
                                  <input type="date" v-model="appointment.date" id="date" name="date" class="form-control" :class="{ 'is-invalid': submitted && $v.appointment.date.$error }">
                                  <div v-if="submitted && $v.appointment.date.$error" class="invalid-feedback">
                                    <span v-if="!$v.appointment.date.required">Date is required</span>
                                  </div>
                          </div>
                      </div>

                      <div class="col-md-12">
                        <label>Presenter</label>
                         <Select2 :options="myOptions" @change="myChangeEvent($event)" @select="mySelectEvent($event)" />
                        <div v-if="submitted && $v.appointment.presenter.$error" class="invalid-feedback">
                            <span v-if="!$v.appointment.presenter.required">Presenter is required</span>
                        </div>
                      </div>

                    </div>
                <!-- /Basic Information -->

          

            <!-- <div class="submit-section submit-btn-bottom">
                <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
            </div> -->

            <div style="width:100%" class="mt-5">
                <hr>
                <button type="submit" class="btn btn-primary float-right">Add Appointment</button>
                <button type="button" class="btn btn-secondary float-right mr-1" @click="close()">Close</button>
            </div>


        </form>




                
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>    
</template>
<script>

import { mapActions } from "vuex";
import Errors from "../../../Helpers/errors";
import { required, email , minLength} from "vuelidate/lib/validators";
import Select2 from 'v-select2-component';

export default {
   name : "Schedule",
   components: {Select2},
   props : ['list'],
   data(){
        return{
            errors : new Errors(),
            myValue: '',
            myOptions: ['33521 | Zafar khan', '44875 | Shehzad Bashir', '28854'],
            user:{
                id:null,
                first_name : '',
                last_name : '',
                relation_type : '',
                phone_no : '',
                email_id : '',
                designation : '',
                nationality : '',
                city : '',
                current_city : '',
                info : '',
                qualifier : '',
                vb : '',
                closed : '',
                response : '',
                created_at : '',
            },
            appointment:{
                user_id:'',                
                time:'',
                date:'',
                presenter:'',
            },
            submitted:false,
        }
    },
    validations: {
      appointment: {
        time : {required},
        date : {required},
        presenter : {required},
      }
    },    
    created(){
        this.user = this.list;
        this.appointment.user_id = this.$store.getters.user.id;
    },
    methods:{
        ...mapActions(["CreateAppointment"]),
        async handleSubmit(e) {
            this.submitted = true;
            this.$v.appointment.$touch();
            console.log(this.$v);

            if (this.$v.appointment.$invalid) {
                return;
            }
            try {
                await this.CreateAppointment(this.appointment);
                // this.$router.push("/dashboard");
                this.submitted = true;
                this.$parent.refreshView('add-schedule');
                this.close();
            }catch (error) {
              if(error.reponse != undefined){
                  this.onFail(error.response.data);
                  this.submitted = false;
              }else if(error.request){
                  this.onFail(JSON.parse(error.request.response));
                  this.submitted = false;
              }
            }
        },
        close:function(){
            this.$nextTick(() => { 
                this.$v.appointment.$reset();
                this.appointment.time = '';
                this.appointment.date = '';
                this.appointment.presenter = '';
            });
            this.$parent.closeSchedule();
        },
        onFail(errors) {
            this.errors.record(errors);
        },
        save(){
            // this.$refs.addListForm.submit();
            console.log(this.$refs.addListForm);
        },
        myChangeEvent(val){
            console.log(val);
        },
        mySelectEvent({id, text}){
            text = text.split("|")[0].trim();
            this.appointment.presenter = text;
        }
    },

}
</script>
<style scoped>
.modal-mask {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
}
.modal-dialog {
    position: fixed;
    right:0;
    width: 80%;
    margin: .5rem;
    pointer-events: none;
    max-height:100%;
}


  .form-group{
        margin-bottom:5px;
  }
  label{
        margin-bottom:0px;
  }
	.form-control {
		border-color: #dcdcdc;
		color: #333;
		font-size: 15px;
		min-height: 40px;
		padding: 6px 15px;
	}
	.invalid-feedback {
		display: block;
	}


</style>