<template>
    <div>
    
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Profile Settings</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Profile Settings</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
						
							<LeftNav></LeftNav>	
							
						</div>
						<div class="col-md-7 col-lg-8 col-xl-9">
						
                            <router-view></router-view>
							
						</div>
					</div>

				</div>

			</div>		
            <!-- /Page Content -->
</div>
</template>

<script>
import LeftNav from '../Doctor/LeftNav.vue';
export default {
	name:"Doctor",
	components:{
		LeftNav
    },
    mounted(){
        console.log('Doctor Mounted');
    }
}
</script>

<style scoped>

</style>