<template>
        <!-- Profile Sidebar -->
        <div class="profile-sidebar">
            <div class="widget-profile pro-widget-content">
                <div class="profile-info-widget">
                    <a href="#" class="booking-doc-img">                        
                        <img v-if="!user.image" src="public/assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
                        <img v-if="user.image" :src="user.image" alt="User Image">
                    </a>
                    <div class="profile-det-info">
                        <h3>{{ user.first_name}} {{ user.last_name }}</h3>
                        
                        <div class="patient-details">
                            <h5 class="mb-0">BDS, MDS - Oral & Maxillofacial Surgery</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-widget">
                <nav class="dashboard-menu">
                    <ul>
                        <li>
                            <a href="doctor-dashboard">
                                <i class="fas fa-columns"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <router-link to="/doctor/my-list">
                                <i class="fas fa-calendar-check"></i>
                                <span>My List</span>
                            </router-link>
                        </li>
                        <li>
                            <a href="my-patients">
                                <i class="fas fa-user-injured"></i>
                                <span>My Patients</span>
                            </a>
                        </li>
                        <li>
                            <a href="schedule-timings">
                                <i class="fas fa-hourglass-start"></i>
                                <span>Schedule Timings</span>
                            </a>
                        </li>
                        <li>
                            <a href="invoices">
                                <i class="fas fa-file-invoice"></i>
                                <span>Invoices</span>
                            </a>
                        </li>
                        <li>
                            <a href="reviews">
                                <i class="fas fa-star"></i>
                                <span>Reviews</span>
                            </a>
                        </li>
                        <li>
                            <a href="chat-doctor">
                                <i class="fas fa-comments"></i>
                                <span>Message</span>
                                <small class="unread-msg">23</small>
                            </a>
                        </li>
                        <li class="active">
                            <router-link to="/doctor/profile-settings">
                                <i class="fas fa-user-cog"></i>
                                <span>Profile Settings</span>
                            </router-link>
                        </li>
                        <li>
                            <a href="social-media">
                                <i class="fas fa-share-alt"></i>
                                <span>Social Media</span>
                            </a>
                        </li>
                        <li>
                            <a href="doctor-change-password">
                                <i class="fas fa-lock"></i>
                                <span>Change Password</span>
                            </a>
                        </li>
                        <li>
                            <a href="index">
                                <i class="fas fa-sign-out-alt"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /Profile Sidebar -->
</template>
<script>
export default {
    data(){
        return{
            user:{},
        }
    },
    created(){
        this.user = this.$store.getters.user;
    },}
</script>
<style scoped>

</style>