<template>
    <div>
            <form @submit.prevent="handleSubmit">
        <!-- Basic Information -->
        <div v-if="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> Your <a href="#" class="alert-link">Profile</a> has been updated successfully.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Basic Information</h4>
                        <div class="row form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="change-avatar">
                                        <div v-if="imageUrl" class="profile-img">
                                            <img :src="imageUrl" alt="User Image">
                                        </div>
                                        <div v-if="!imageUrl && !user.image" class="profile-img">
                                            <img src="public/assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
                                        </div>
                                        <div v-if="!imageUrl && user.image" class="profile-img">
                                            <img :src="user.image" alt="User Image">
                                        </div>

                                        <div class="upload-img">
                                            <div class="change-photo-btn">
                                                <span><i class="fa fa-upload"></i> Upload Photo</span>
                                                <input type="file" accept="image/*" @change="onChangeImage" id="file-input" class="upload">
                                            </div>
                                            <small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>IR ID No <span class="text-danger">*</span></label>
                                    <input type="text" v-model="user.ir_no" id="ir_no" name="ir_no" class="form-control" :class="{ 'is-invalid': submitted && $v.user.ir_no.$error }">
                                    <div v-if="submitted && $v.user.ir_no.$error" class="invalid-feedback">
                                        <span v-if="!$v.user.ir_no.required">IR Number is required</span>
                                    </div>
                                    <div v-if="errors.has('ir_no')" class="invalid-feedback">
                                        <span>{{ errors.get('ir_no') }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>IR Status</label>
                                    <select name="ir_status" v-model="user.ir_status" id="ir_status" class="form-control">
                                        <option value="1">Actice</option>
                                        <option value="0">In Active</option>
                                    </select>
                                    <div v-if="submitted && $v.user.ir_status.$error" class="invalid-feedback">
                                        <span v-if="!$v.user.ir_status.required">IR Status is required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email <span class="text-danger">*</span></label>
                                    <input type="email" v-model="user.email" id="email" name="email" class="form-control" :class="{ 'is-invalid': submitted && $v.user.email.$error }">
                                    <div v-if="submitted && $v.user.email.$error" class="invalid-feedback">
                                        <span v-if="!$v.user.email.required">Email is required</span>
                                        <span v-if="!$v.user.email.email">Email is invalid</span>
                                    </div>
                                    <div v-if="errors.has('email')" class="invalid-feedback">
                                        <span>{{ errors.get('email') }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name <span class="text-danger">*</span></label>
                                    <input type="text" v-model="user.first_name" id="first_name" name="first_name" class="form-control" :class="{ 'is-invalid': submitted && $v.user.first_name.$error }">
                                    <div v-if="submitted && $v.user.first_name.$error" class="invalid-feedback">
                                        <span v-if="!$v.user.first_name.required">First Name is required</span>
                                    </div>
                                    <div v-if="errors.has('first_name')" class="invalid-feedback">
                                        <span>{{ errors.get('first_name') }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Middle Name <span class="text-danger"></span></label>
                                    <input type="text" v-model="user.middle_name" id="middle_name" name="middle_name" class="form-control" :class="{ 'is-invalid': submitted && $v.user.middle_name.$error }">
                                    <div v-if="submitted && $v.user.middle_name.$error" class="invalid-feedback">
                                        <span v-if="!$v.user.middle_name.required">Middle Name is required</span>
                                    </div>
                                    <div v-if="errors.has('middle_name')" class="invalid-feedback">
                                        <span>{{ errors.get('middle_name') }}</span>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name <span class="text-danger">*</span></label>
                                    <input type="text" v-model="user.last_name" id="last_name" name="last_name" class="form-control" :class="{ 'is-invalid': submitted && $v.user.last_name.$error }">
                                    <div v-if="submitted && $v.user.last_name.$error" class="invalid-feedback">
                                        <span v-if="!$v.user.last_name.required">Last Name is required</span>
                                    </div>
                                    <div v-if="errors.has('last_name')" class="invalid-feedback">
                                        <span>{{ errors.get('last_name') }}</span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Mobile No <span class="text-danger">*</span></label>
                                    <input type="text" v-model="user.phone" id="phone" name="phone" class="form-control" :class="{ 'is-invalid': submitted && $v.user.phone.$error }">
									<div v-if="submitted && $v.user.phone.$error" class="invalid-feedback">
										<span v-if="!$v.user.phone.required">Phone is required</span>
									</div>
									<div v-if="errors.has('phone')" class="invalid-feedback">
										<span>{{ errors.get('phone') }}</span>
									</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>CNIC <span class="text-danger">*</span></label>
                                    <input type="text" v-model="user.cnic" id="cnic" name="cnic" class="form-control" :class="{ 'is-invalid': submitted && $v.user.cnic.$error }">
									<div v-if="submitted && $v.user.cnic.$error" class="invalid-feedback">
										<span v-if="!$v.user.cnic.required">CNIC is Required</span>
									</div>
									<div v-if="errors.has('cnic')" class="invalid-feedback">
										<span>{{ errors.get('cnic') }}</span>
									</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Gender <span class="text-danger">*</span></label>
                                    <select name="gender" id="gender" v-model="user.gender" class="form-control">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-0">
                                    <label>Date of Birth</label>
                                    <input type="date" v-model="user.dob" id="dob" name="dob" class="form-control" :class="{ 'is-invalid': submitted && $v.user.dob.$error }">
									<div v-if="submitted && $v.user.dob.$error" class="invalid-feedback">
										<span v-if="!$v.user.dob.required">DOB is Required</span>
									</div>
									<div v-if="errors.has('dob')" class="invalid-feedback">
										<span>{{ errors.get('dob') }}</span>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Basic Information -->

                <!-- Contact Details -->
                <div class="card contact-card">
                    <div class="card-body">
                        <h4 class="card-title">Contact Details</h4>
                        <div class="row form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea name="address" id="address" v-model="user.address" class="form-control" rows="5"></textarea>
                                    <div v-if="submitted && $v.user.address.$error" class="invalid-feedback">
										<span v-if="!$v.user.address.required">Address is Required</span>
									</div>
									<div v-if="errors.has('address')" class="invalid-feedback">
										<span>{{ errors.get('address') }}</span>
									</div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">City</label>
                                    <input type="text" v-model="user.city" id="city" name="city" class="form-control" :class="{ 'is-invalid': submitted && $v.user.city.$error }">
									<div v-if="submitted && $v.user.city.$error" class="invalid-feedback">
										<span v-if="!$v.user.city.required">DOB is Required</span>
									</div>
									<div v-if="errors.has('city')" class="invalid-feedback">
										<span>{{ errors.get('city') }}</span>
									</div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Home No</label>
                                    <input type="text" v-model="user.home_no" id="home_no" name="home_no" class="form-control" :class="{ 'is-invalid': submitted && $v.user.home_no.$error }">
									<div v-if="submitted && $v.user.home_no.$error" class="invalid-feedback">
										<span v-if="!$v.user.home_no.required">Home No is required</span>
									</div>
									<div v-if="errors.has('home_no')" class="invalid-feedback">
										<span>{{ errors.get('home_no') }}</span>
									</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Country</label>
                                    <input type="text" v-model="user.country" id="country" name="country" class="form-control" :class="{ 'is-invalid': submitted && $v.user.country.$error }">
									<div v-if="submitted && $v.user.country.$error" class="invalid-feedback">
										<span v-if="!$v.user.country.required">Country is Required</span>
									</div>
									<div v-if="errors.has('country')" class="invalid-feedback">
										<span>{{ errors.get('country') }}</span>
									</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Office No</label>
                                    <input type="text" v-model="user.office_no" id="office_no" name="office_no" class="form-control" :class="{ 'is-invalid': submitted && $v.user.office_no.$error }">
									<div v-if="submitted && $v.user.office_no.$error" class="invalid-feedback">
										<span v-if="!$v.user.office_no.required">Office No is required</span>
									</div>
									<div v-if="errors.has('office_no')" class="invalid-feedback">
										<span>{{ errors.get('office_no') }}</span>
									</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Fax No</label>
                                    <input type="text" v-model="user.fax_no" id="fax_no" name="fax_no" class="form-control" :class="{ 'is-invalid': submitted && $v.user.fax_no.$error }">
									<div v-if="submitted && $v.user.fax_no.$error" class="invalid-feedback">
										<span v-if="!$v.user.fax_no.required">Fax No is required</span>
									</div>
									<div v-if="errors.has('fax_no')" class="invalid-feedback">
										<span>{{ errors.get('fax_no') }}</span>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Contact Details -->


            <!-- Beneficiary Details -->
            <div class="card contact-card">
                <div class="card-body">
                    <h4 class="card-title">Beneficiary Details</h4>
                    <div class="row form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Benefiary Name</label>
                                <input type="text" v-model="user.beneficiary_name" id="beneficiary_name" name="beneficiary_name" class="form-control" :class="{ 'is-invalid': submitted && $v.user.beneficiary_name.$error }">
                                <div v-if="submitted && $v.user.beneficiary_name.$error" class="invalid-feedback">
                                    <span v-if="!$v.user.beneficiary_name.required">Beneficiary Name is required</span>
                                </div>
                                <div v-if="errors.has('beneficiary_name')" class="invalid-feedback">
                                    <span>{{ errors.get('beneficiary_name') }}</span>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Suponsered/Introduced By</label>
                                <input type="text" v-model="user.referal" id="referal" name="referal" class="form-control" :class="{ 'is-invalid': submitted && $v.user.referal.$error }">
                                <div v-if="submitted && $v.user.referal.$error" class="invalid-feedback">
                                    <span v-if="!$v.user.referal.required">Supponsered By is required</span>
                                </div>
                                <div v-if="errors.has('referal')" class="invalid-feedback">
                                    <span>{{ errors.get('referal') }}</span>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Singup/Application Date</label>
                                <input type="text" id="created_at" name="created_at" v-model="user.created_at" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Contact Details -->

            <div class="submit-section submit-btn-bottom">
                <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
            </div>
        </form>


            <form @submit.prevent="handleSubmitPassword">
            <!-- Password -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Change Password</h4>
                        <div class="registrations-info">
                            <div class="row form-row reg-cont">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Enter Current Password</label>
                                        <input type="text" v-model="user_password.c_password" id="c_password" name="c_password" class="form-control" :class="{ 'is-invalid': submittedPassword && $v.user_password.c_password.$error }">
                                        <div v-if="submittedPassword && $v.user_password.c_password.$error" class="invalid-feedback">
                                            <span v-if="!$v.user_password.c_password.required">Password is required</span>
                                            <span v-if="!$v.user_password.c_password.minLength">Password Length must be 6 or more</span>
                                        </div>
                                        <div v-if="errors.has('c_password')" class="invalid-feedback">
                                            <span>{{ errors.get('c_password') }}</span>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Enter New Password</label>
                                        <input type="text" v-model="user_password.n_password" id="n_password" name="n_password" class="form-control" :class="{ 'is-invalid': submittedPassword && $v.user_password.n_password.$error }">
                                        <div v-if="submittedPassword && $v.user_password.n_password.$error" class="invalid-feedback">
                                            <span v-if="!$v.user_password.n_password.required">Password is required</span>
                                            <span v-if="!$v.user_password.n_password.minLength">Password Length must be 6 or more</span>
                                        </div>
                                        <div v-if="errors.has('n_password')" class="invalid-feedback">
                                            <span>{{ errors.get('n_password') }}</span>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Password -->
                
                <div class="submit-section submit-btn-bottom">
                    <button type="submit" class="btn btn-primary submit-btn">Change Password</button>
                </div>
            </form>
        </div>
</template>
<script>

import { mapActions } from "vuex";
import Errors from "../../Helpers/errors";
import { required, email , minLength} from "vuelidate/lib/validators";

export default {
    data(){
        return{
            alert:false,
            file:null,
            errors : new Errors(),
            image : null,
            imageUrl : null,
            user:{
                first_name : '',
                last_name : '',
                middle_name : '',
                ir_no : '',
                ir_status : 1,
                email : '',
                phone : '',
                cnic : '',
                gender : '',
                dob : '',
                address : '',
                city : '',
                home_no : '',
                country : '',
                office_no : '',
                fax_no : '',
                beneficiary_no : '',
                referal : '',
                created_at : '',
            },
            user_password:{
                c_password : '',
                n_password : '',
            },
            submitted:false,
            submittedPassword:false,
        }
    },
    created(){
        this.user = this.$store.getters.user;
    },
    validations: {
		user: {
			ir_no : {required},
			first_name : {required},
            middle_name : { },
            last_name : {required},
			gender : {required},			
			cnic : {required},
			phone : {required},
			email: { required, email },
            ir_status: { required },
            dob: {  },
            address: {  },
            city: {  },
            home_no: { },
            country: {  },
            office_no: { },
            fax_no: {},            
            beneficiary_name: {  },
            referal: {  },
            created_at: {  },
		},
        user_password:{
            c_password: { required , minLength : minLength(6) },
            n_password: { required , minLength : minLength(6) },
        }
    },    
    methods:{
        ...mapActions(["updateUser" , "updatePassword"]),
        async handleSubmit(e) {
            this.submitted = true;

            // stop here if form is invalid
            this.$v.user.$touch();
            if (this.$v.user.$invalid) {
                return;
            }

            try {
                let formData = new FormData()
                if(this.file){
                    formData.append('image', this.file, this.user.id + "_image");
                }
                formData.append('user', JSON.stringify(this.user));
				await this.updateUser(formData);
				// this.$router.push("/dashboard");
                this.submitted = true;
                this.alert = true;
                this.scrollToTop();
                setTimeout(() => this.alert = false, 5000)

			} catch (error) {
                if(error.reponse){
                    this.onFail(error.response.data);
                    this.submitted = false;
                }
			}

        },
        onFail(errors) {
            this.errors.record(errors);
		},
        scrollToTop() {
            window.scrollTo({top: 0, behavior: 'smooth'});
        },
        onChangeImage(e) {
            this.file = e.target.files[0]
            this.image = this.file
            this.imageUrl = URL.createObjectURL(this.file)
        },
        async handleSubmitPassword(e) {
            this.submittedPassword = true;

            this.$v.user_password.$touch();
            if (this.$v.user_password.$invalid) {
                return;
            }

            try {
				await this.updatePassword(this.user_password);
                this.submittedPassword = true;
                this.$nextTick(() => { 
                    this.$v.user_password.$reset();
                    this.user_password.c_password = '';
                    this.user_password.n_password = '';                
                })
                this.alert = true;
                this.scrollToTop();
                setTimeout(() => this.alert = false, 5000)
			} catch (error) {
                if(error.reponse != undefined){
                    this.onFail(error.response.data);
                    this.submittedPassword = false;
                }else if(error.request){
                    this.onFail(JSON.parse(error.request.response));
                    this.submittedPassword = false;
                }
			}

        },
       
    }
}
</script>
<style scoped>
	.invalid-feedback {
		display: block;
	}
</style>